/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */
// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

$footer-height: 100px;

html, body {
    padding-top: 56px;
    height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: $footer-height; /* this needs to be bigger or equal than footer height */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
}

footer div{
    margin-top: 40px;
}
